.main {
  width:100%;
  height: 60vh;
  background: #232323;
  opacity: 0.8;
}

.flexbox{
  display: flex;
}

.roomWithKey {
  text-align: center;
}

.mainTitle {
  font-size: 45px;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

.mainButton {
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
}


.roomKey {
  color: white;
  font-size: 20px;
  line-height: 25px;
  height: 25px;
  width: 20px;
  cursor: pointer;
  float:right;
}

.roomKey:hover {
  opacity: 0.6;
}

.searchSong {
  color: white;
  font-size: 20px;
  line-height: 25px;
  height: 25px;
  width: 20px;
  cursor: pointer;
  float:right;
}

.searchSong:hover {
  opacity: 0.6;
}

.removeRoom {
  color: white;
  font-size: 25px;
  line-height: 25px;
  height: 25px;
  width: 20px;
  cursor: pointer;
  float:right;
}

.removeRoom:hover {
  opacity: 0.6;
}


/************ INPUT CONTAINER CSS ************/


.inputContainer {
  padding: 10px;
  float: left;
  width: 50%;
  height:10%;
}

#myBtn {
  margin-left: 2%;
  border-radius: 12px;
}

#myLink, #roomLink {
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  background-color:#606466;
}

input::-webkit-input-placeholder {
color: white !important;
}



.linkT {
  font-size: 16px;
  color: white;
  font-weight: bold;
  float: left;

}

.kickUserContainer {
  width: 30%;

  display: inline-block;
}

.userNames{
  color:white;
   letter-spacing: 1.5px;
}


/*************** MODAL BOXES ***************/
.searchBox {
  opacity: .8;
  background-color: #6c6d6d;

}

.searchBody {
  background-color: #545656;
  border-style: ridge;
  border-width: 1.5px;
  border-color: #e0e0e0;
}

.searchTitle {
  color:white;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 500;
}

.deleteRoomBox {
  opacity: .8;
  background-color: #6c6d6d;
}

.deleteModalBody {
  background-color: #545656;
  border-style: ridge;
  border-width: 1.5px;
  border-color: #e0e0e0;
}

.deleteTitle {
  color:white;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 500;
}
