html {
  background: black;
}

body {
  background: black;
  overflow-y: hidden;
}

.app {
  background: black;
  margin-bottom: 20px;
}



.banner {
  background: #212529;
  height: 5vh;
  width: 100%;
}

.logo {
  float:left;
  height: 50px;
}

.appDiv {
  margin-left: -15px;
  margin-right: -15px;
}

.settings {
  color: white;
  font-size: 16px;
  margin-left: 73%;
  margin-top: 40px;
}

.settings:hover {
  color: #0078ce;
}

.button {
  height: 30%;
  float: right;

  /*float: right; does not work hmm*/
}

.noScroll {
  overflow: hidden;
}