@import url(https://fonts.googleapis.com/css?family=Open+Sans|Pacifico);

body{
  margin:0;
  padding:0;
  font-family:sans-serif;
  }

  body,p{
    margin:0;
  }

  p{
    display:inline-block;
    }

.App{
  background-color:#1ee494;
  height:100vh;
  width:100vw;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-pack:center;
  justify-content:center
}

.cardscrollbox {
  /* background-color: #1c1f23; */
  background-color: #232323;
  font-family:sans-serif;
  width: 100%;
  font-size: 12px;
}

#chatroom{
  width: auto;
  display: block;
  right:0;
  top:0;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  z-index: 0;
  background-color: #343a40; /*main color of chat*/
  border-radius:5px;
  overflow: auto;
  padding: 0;
}

#chatroom h3{
  background-color: #0078ce;
  color:#fff;
  margin:0;
  height:40px;
  font-size:20px;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-pack:center;
  justify-content:center
}
#chatroom .chats{
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  padding:0 20px;
  margin:10px 0 0;
  height: 70vh;
  overflow-y:scroll;
}

#chatroom .chats .chat{
  background:hsla(0,0%,85%,.8);
  position:relative;
  padding:5px 13px;
  font-size:12px;
  border-radius:10px;
  list-style:none;
  float:left;clear:both;
  margin:10px 0;
  max-width:200px
}

#chatroom .chats .chat img{
  width:20px;
  height:20px;
  border-radius:50%;
  position:absolute;
  top:-10px;
  left:0
}

#chatroom .chats .chat.right{
  float:right;
  clear:both;
}

#chatroom .chats .chat.left{
  float:left;
  clear:both;
  background-color: #606466;
  color: white;
}

#chatroom .chats .chat a{
  text-decoration:none;
  color:
}

#chatRoom input {

}

#chatroom .input{
  height:40px;
  margin-top:0px; /*Submit tab bar */
  width:100%;
  background: #808080; /*Color of Submit tab*/
  display:-ms-flexbox;display:flex;
  -ms-flex-direction:row;
  flex-direction:row;
  -ms-flex-align:center;
  align-items:center
}

#chatroom .input input[type=text]{
  background:hsla(0,0%,100%,.5); /*color of chat input box*/
  outline:0;
  border:2px solid white; /*border color of input box*/
  padding:0 5px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  margin-left:10px;
  width:270px;
  height:25px;
}
#chatroom .input input[type=submit],.chatroom .input input[type=text]{
  height:30px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  font-size:12px
}

#chatroom .input input[type=submit]{
  background:transparent;
  border:1px solid black; /*border color of submit*/
  width:70px;border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  cursor:pointer;
  -webkit-transition:all .3s ease;
  -o-transition:all .3s ease;
  transition:all .3s ease
}

#chatroom .input input[type=submit]:hover{
  background:#51aff7;
  color:#fff;
}
