.main {
  width:100%;
  height: 85vh;
  background: #232323;
  opacity: 0.8;
}

.flexbox{
  display: flex;
}

.mainTitle {
  font-size: 36px;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.key {
  color: #0078ce;
  font-size: 24px;
  cursor: pointer;
  float: left;
}



/************ INPUT CONTAINER CSS ************/


.inputContainer {
  padding: 10px;
  float: left;
  width: 50%;
  height:10%;
}

#myBtn {
  margin-left: 2%;
  border-radius: 12px;
}

#myLink, #roomLink {
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  background-color:#606466;
}

input::-webkit-input-placeholder {
color: white !important;
}



.linkT {
  font-size: 16px;
  color: white;
  font-weight: bold;
  float: left;

}

.kickUserContainer {
  width: 30%;

  display: inline-block;
}

.userNames{
  color:white;
   letter-spacing: 1.5px;
}
