.player {
	background: white;
 	display: block;
	width: 60%;
	height: 100%;
	margin-left: 50px;
	margin-top: 150px;
}

.controls {
	color: black;
	text-decoration: none;
	height: 20px;
	width: 300px;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

.buttons {
	font-size: 25px;
	width: 50px;
}

.controls> a:hover {
	background-color: gray;
	color: lightgray;
}

.progressBar {
	float: right;
	width: 100%;
}