.player {
	background: black;
 	display: block;
	width: 100%;
	margin-top: 120px;
}

.controls {
	text-decoration: none;
	height: 20px;
	width: 300px;
	padding: 10px;
	display: inline-block;
	text-align: center;
}

.buttons {
	font-size: 25px;
	width: 50px;
}

.progressBar {
	float: right;
	width: 100%;
}