.scrollbox {
  margin-top: 20px;
  /* background-color: #1c1f23; */
  background-color: #232323;
  overflow: scroll;
  color: white;
  font-family:sans-serif;
  padding: 10px;
  width: 100%;
  font-size: 20px;
}

.table {
  width: 100%;
  overflow: scroll;
}

.overflow-scrolling {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.songTitle {
  text-align: left;
  font-weight:600;
  font-size: 90%;
  letter-spacing: .5px;
}

.queueBy {
  font-size:70%;
  font-weight: 100;
  letter-spacing: .5px;
  color: #c4c4c4;
}

.songTime {
  font-size: 70%;
  letter-spacing: 1.5px;
}

img {
  object-fit: cover;
  width:100px;
  height:100px;
}


/*
.tr2 {
  border: 1px solid black;
  height: 30px;
  width: 100px;
}
*/
