.sidenav{
  width: 100%;
  height: 85vh;
  background: #343a40;
  display: block;
  opacity: 0.8;
  padding: 20px;
}

.b_width {
  width: 100%;
}

#roomList td {
	/*
  padding: 0;
   border: 1px solid black;
   */
   color: white;
}

.title {
	color: white;

  text-align: center;
}

.buttons {
	float: right;
  position: relative;
  right:15%;
}

.addRoomBox {
	opacity: 0.8;
}

.roomText {
  font-size: 12px;
}




/*.iconButton {
  margin: 1px 1px 1px 1px;
}*/